<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Testify | Box Platform</title>

    <!-- Load Static files -->
    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static "vendors/nprogress/nprogress.css" %}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{% static "vendors/bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">
    
    <!-- Custom Theme Style -->
    <link href="{% static "build/css/custom.min.css" %}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Testify | Box Platform</span></a>
            </div>

            <div class="clearfix"></div>

            <!--Include Sidebar here -->
            {% include "default/profile_quick_info.html" %}

            <br />

            <!--Include Sidebar here -->
            {% include "testify/sidebar.html" %}

            <!--Include Menu Footer Buttons here -->
            {% include "default/menu_footer_buttons.html" %}

          </div>
        </div>

        <!--Include Top Navigation here -->
        {% include "default/top_navigation.html" %}

        <!--Include Page Content here -->
        {% include "default/content.html" %}

        <!--Include Footer here -->
        {% include "default/footer.html" %}

      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <!-- Bootstrap -->
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- FastClick -->
    <script src="{% static "vendors/fastclick/lib/fastclick.js" %}"></script>
    <!-- NProgress -->
    <script src="{% static "vendors/nprogress/nprogress.js" %}"></script>
    <!-- morris.js -->
    <script src="{% static "vendors/raphael/raphael.min.js" %}"></script>
    <script src="{% static "vendors/morris.js/morris.min.js" %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static "vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static "vendors/moment/min/moment.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="{% static "build/js/custom.min.js" %}"></script>
    <script src="{% static "main/js/custom/profile.js" %}"></script>
      
  </body>
</html>