<!-- Load Static files -->
{% load static %}

<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
    <img src="{% static "main/images/img.jpg" %}" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>Hello {{ user.username }}!</h2>
  </div>
</div>
<!-- /menu profile quick info -->