<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.file_path }}">{{ document.file_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.file_path.label_tag }} {{ form.file_path.help_text }}</p>
            <p>
                {{ form.file_path.errors }}
                {{ form.file_path }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html> 