<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
	<title>{{ title }}</title>

	<!-- Load Static files -->
	{% load static %}

	<!-- Favicon -->
	<link rel="icon" href="{% static "main/images/favicon.ico" %}" type="image/x-icon">

	<!--Main CSS-->
	<link rel="stylesheet" href="{% static "main/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "main/css/dataTables.foundation.css" %}">
	<link rel="stylesheet" href="{% static "main/css/app.css" %}">

	<!--Javascript-->
	<script language="JavaScript" type="text/javascript" src="{% static "main/js/modernizr.js" %}"></script>
  
</head>

<body>

<!--Header Part-->
<header class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
			  <h1>
			    <a href="#">
			      <img src="#" alt="">
			      <b class="show-for-sr">Gallery</b>
			    </a>
			  </h1>
			</li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Utility Nav Section -->
			<ul class="right">
			  <li class="title-user-login">Hello Ronald Meran</li>
			  <li class='active'><a href="#" data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip" title="Account Management"><i class="fa fa-cog"></i> Account Management </a></li>
			  <li><a href="#" data-reveal-id="modal-logout"  data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip" title="Logout"><i class="fa fa-sign-out"></i> Logout </a></li>
			</ul>

			<!-- Left Main Navigation -->
			<ul class="left">
			  <li><a href="#">Dashboard</a></li>
			  <li><a href="#">Image Master List</a></li>
			  <li class="has-dropdown">
				<a href="#">Content Management</a>
				<ul class="dropdown">
		   	   	   <li><a href="#">Client Master List</a></li>
		   	   	   <li><a href="#">Project Master List</a></li>
				   <li><a href="#">User Management</a></li>
				</ul>
			  </li>
			</ul>

			<!-- Right Nav Section -->
			<ul class="right"></ul>
			
		</section>
    </nav>
</header>

<section id="main-wrapper">
    <div class="row">
      <!--Title page -->
      <div class="small-12 columns">

        <h2 class="left page-title">Title</h2>
        <ul class="button-group left add-ons-btn">
          <li><a href="#" class="button tiny round"><i class="fa fa-plus"></i> Add Project</a></li>
        </ul>
      </div>
    </div>

    <!--Main Container-->
    <div class="row">
      <!--Left Content-->

      <div class="small-12 columns">
        <div id="s2-table-wrapper">
          <div class="table-header-bg"></div>
			<table id="s2-table" class="display" cellspacing="0">
			<thead>
			  <tr>
			    <th>Project Name</th>
			    <th>Telephone</th>
			    <th>Address</th>
			  </tr>
			</thead>

			<tbody>
				{% for p in projects %}
				<tr>   
					<td>{{ p.project_name }}<a href="#"><i class="fa fa-search"></i> <span>VIEW</span></a></td>
					<td>{{ p.phone }}</td>
					<td>{{ p.address }}</td>
				</tr>
				{% endfor %}						
			</tbody>

			</table>
        </div>
        <div class="spacer"></div>
      </div>

    </div>
</section>

	<!--Modal Logout-->
	<div id="modal-logout" class="reveal-modal small text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<p>ARE YOU SURE</p>
		<p>YOU WANT TO LOGOUT?</p>
		<ul class="button-group">
		  <li><a href="#" class="tiny g button">YES</a></li>
		  <li><a href="#" class="button tiny no-btn">NO</a></li>
		</ul>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	<!--Footer Content-->
	<footer id="main-footer">
		<div class="row">
			<div class="small-12 columns text-center">
				<p> {{ site_title }} </p>
				<p>{{ powered_by }}</p>
			</div>
		</div>
	</footer>

</body>

<!-- Jquery library -->
<script language="JavaScript" type="text/javascript" src="{% static "main/js/jquery.min.js" %}"></script>	
<script language="JavaScript" type="text/javascript" src="{% static "main/js/foundation.min.js" %}"></script>

<!-- Plugin Script table -->
<script language="JavaScript" type="text/javascript" src="{% static "main/js/jquery.dataTables.min.js" %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static "main/js/dataTables.foundation.min.js" %}"></script>

<!-- Custom Script -->
<script language="JavaScript" type="text/javascript" src="{% static "main/js/s2-tables-custom.js" %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static "main/js/app.js" %}"></script>

<!-- Sticky Footer -->
<script language="JavaScript" type="text/javascript" src="{% static "main/js/stickyFooter.js" %}"></script>	


</html>