<!-- Load Static files -->
{% load static %}

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a href="/accounts/profile"><i class="fa fa-home"></i> Home</a></li>
      <li><a><i class="fa fa-users"></i> Account Management <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="user_role.html">User Roles</a></li>
          <li><a href="user_matrix.html">User Matrix</a></li>
          <li><a href="user_accounts.html">User Accounts</a></li>
        </ul>
      </li>
      <li><a href="/gallery"><i class="fa fa-image"></i> Gallery</a></li>
    </ul>
  </div>
</div>
<!-- /sidebar menu -->